<script type="text/javascript">
    hhcCartsDropdown = document.getElementById('dropdown-hhc');
   
    price = document.getElementById('new-price');
    const originalHTML = price.innerHTML;

    pricePerUnit = 29.99;

    hhcCartsDropdown.addEventListener('change', function() {
        if (hhcCartsDropdown.value == 1) {
            price.innerText = originalHTML;
        }
        else if (hhcCartsDropdown.value == 4) {
            fullPrice = pricePerUnit * 4;
            fullPrice = fullPrice.toFixed(2);
            priceHTML = `
            <strike>€${fullPrice}</strike>|<span class="text-danger"> €99.99</span>
            `;
            price.innerHTML = priceHTML;
        } else if (hhcCartsDropdown.value == 10) {
            fullPrice = pricePerUnit * 10;
            fullPrice = fullPrice.toFixed(2);
            priceHTML = `
            <strike>€${fullPrice}</strike>|<span class="text-danger"> €199.99</span>
            `;
            price.innerHTML = priceHTML;
        } else if (hhcCartsDropdown.value == 25) {
            fullPrice = pricePerUnit * 25;
            fullPrice = fullPrice.toFixed(2);
            priceHTML = `
            <strike>€${fullPrice}</strike>|<span class="text-danger"> €449.99</span>
            `;
            price.innerHTML = priceHTML;
        } else if (hhcCartsDropdown.value == 50) {
            fullPrice = pricePerUnit * 50;
            fullPrice = fullPrice.toFixed(2);
            priceHTML = `
            <strike>€${fullPrice}</strike>|<span class="text-danger"> €799.99</span>
            `;
            price.innerHTML = priceHTML;
        }
    });

</script>